<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Nano ICT Solutions{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% Static 'css/styles.css' %}">
</head>

<body>
    <header>
        <h1>Nano ICT Solutions</h1>
        <nav>
            <ul>
                <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'stock_list' %}">Stock List</a></li>
                <li><a href="{% url 'add_stock_item' %}">Add Stock Item</a></li>
                <li><a href="{% url 'sales_report' %}">Sales Report</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        &copy; {{ year }} Nano ICT Solutions
    </footer>
</body>

</html>